.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height:98vh;,
	font-family: monospace;
}
#circle{
	position:absolute;
	top:150px;
}
#top-left,#top-right,#bottom-left,#bottom-right{
	display: inline-block;
	width:150px;
	height:150px;
	border:0.1em solid #323232;
	box-shadow: 5px 10px 10px #323232;
	margin-left:-10px;
	margin-bottom: -10px;
	cursor: pointer;
}
#top-left{
	background-color: green;
	border-top-left-radius: 100%;
}
#top-right{
	background-color: red;
	border-top-right-radius: 100%;
}
#bottom-left{
	background-color: yellow;
	border-bottom-left-radius: 100%;
}
#bottom-right{
	background-color: blue;
	border-bottom-right-radius: 100%;
}
.active{
	background-color: hsl(50,50%,10%);
}
.inner-circle{
	position:absolute;
	top:55px;
	left:45px;
	z-index: 500;
	width:170px;
	height:170px;
	border:10px solid #323232;
	border-radius: 100%;
	background-color: grey;
	padding:0 auto;
}
.start-button{
	display: inline-block;
	width:40px;
	height:40px;
	border-radius: 100%;
	background-color: #07D807;
	text-align: center;
	cursor: pointer;
	margin-top: 35%;
	margin-left: 10px;
	z-index: 800;
}
#play-button{
	border:none;
	color:black;
}
